%body
  = render partial: 'find_foods/find_food'
  = render partial: 'nav/header'
  #search-data
  %link{href: 'http://fonts.googleapis.com/css?family=Catamaran', rel: 'stylesheet', type: 'text/css'}
