%body
  .nav-header
  = render partial: 'find_foods/find_food'
  = render partial: 'nav/header'

  %link{href: 'http://fonts.googleapis.com/css?family=Catamaran', rel: 'stylesheet', type: 'text/css'}
