.container
  .search_form
    %form_for{action: 'find_foods', method: 'POST', remote: true}
      #search_query.button
        %input{placeholder: "search", name: "search_query", class: "buttonFlat"}
      #submit.button
        %input{type: "submit", value: "submit", class: "buttonFlat"}
