.container
  .search_form
    = form_tag(method: "POST", remote: true) do
      %input{placeholder: 'Num Results', name: 'result_number', class: 'buttonFlat', id: 'results', onfocus: "this.placeholder = ''"}
      %input{placeholder: 'search', name: 'search_query', class: 'buttonFlat', id: "query", onfocus: "this.placeholder =''"}
      #submit.button{name: 'submit-search', value: 'submit', class: 'buttonFlat'}
        submit
    = form_tag(method: 'put', remote: true, id: "add-submit") do
      %input#add-query{placeholder: 'add', name: 'add-query', class: 'buttonFlat', onfocus: "this.placeholder =''"}
      #add-submit.button{name: 'add-submit', value: 'add', class: 'buttonFlat'}
        Add
    = form_tag(method: "DELETE", remote: true, id: "delete") do
      #delete-submit.button{name: "delete", value: "destroy", class: 'buttonFlat'}
        Delete
    .block-inline
      #loading-image
        = fa_icon 'spinner spin lg'
    %h1
