.container
  .search_form
    = form_tag(method: "POST", remote: true) do      #search_query.button
      .button
        %input{placeholder: 'search', name: 'search_query', class: 'buttonFlat', id: "query", onfocus: "this.placeholder =''"}
      #submit.button
        %input{name: 'submit-search', value: 'submit', class: 'buttonFlat'}
    .loading-image
      = fa_icon 'spinner spin lg'
    = form_tag(method: 'POST', remote: true, id: "add-submit") do
      .button
        %input#add-query{placeholder: 'add', name: 'add-query', class: 'buttonFlat', onfocus: "this.placeholder =''"}
      #add-submit.button
        %input#add-submit{name: 'add-submit', value: 'add', class: 'buttonFlat'}
    = form_tag(method: "DELETE", remote: true, id: "delete") do
      .button
        %input#delete-submit{name: "delete", value: "clear", class: 'buttonFlat'}
    %h1
