@import 'variables';
@import 'font-awesome';
@import 'header';
@import 'home';
@import 'find_food';
@import 'bootstrap-custom';
@import 'jquery.gridly';
@import 'widgets';
@import 'sessions';
nav, section, {
  display: block;
}

a:active, a:hover {
  outline: 0;
}
