.container {
  width: 80%;
  margin: auto;
  padding-left: 39px;
  padding-top: 56px;
  padding-bottom: 39px;
}

.search_dashboard{
  padding-top: 50px;
  margin: auto;
  display: block;
}

.search_form {
  border-radius: 5px;
  left: 50%;
  margin-left: -409px;
  width: 818px;
  position: fixed;
  z-index: 1000;
  background: $green;
  display: inline-block;
  height: 50px;
  padding: 5px 9px 5px 9px;
  //margin: auto;
}

.button {
  display: inline-block;
  background-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
form {
  display: inline-block;
}
/* top right bottom left*/
.buttonFlat {
  text-transform: uppercase;
  display: inline-block;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 3px;
  padding: 0 8px 0 8px;
  margin: 6px 4px 6px 4px;
  border: none;
}

.shadow {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}
.block-inline{
  display: inline-block;
  #loading-image {
    display: none;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

input{
  display: inline-block;
  &:focus {
    outline: none;
  }
}
#add-query{
  display: inline-block;
}

#add-submit{
  display: inline-block;
  transition: background-color 0.3s ease;
  height: 36px;
  background: $chart1;
  color: white;
  cursor: pointer;
  width: 75px;
}

#delete-submit{
  display: inline-block;
  transition: background-color 0.3s ease;
  height: 36px;
  background: $chart1;
  color: white;
  cursor: pointer;
  width: 75px;
}

#submit {
  display: inline-block;
  transition: background-color 0.3s ease;
  height: 36px;
  background: $chart1;
  color: white;
  cursor: pointer;
  width: 75px;
}
