.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.search_dashboard{
  margin: auto;
  display: block;
}

.search_form {
  height: 100px;
  width: 100%;
  margin: auto;
}

.button {
  display: inline-block;
  background-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.buttonFlat {
  text-transform: uppercase;
  display: inline-block;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  color: rgba(0,0,0,0.9);
  line-height: 36px;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 0;
  margin-top: 6px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 6px;
  border: none;
}

input#add-query{
  display: none;
}

input#add-submit{
  display: none;
  transition: background-color 0.3s ease;
  height: 36px;
  background: #672E45;
  color: white;
  cursor: pointer;
  width: 75px;
}

input[name="submit-search"] {
  display: inline-block;
  transition: background-color 0.3s ease;
  height: 36px;
  background: #672E45;
  color: white;
  cursor: pointer;
  width: 75px;
}
