.container {
  width: 80%;
  margin: auto;
  padding-top: 100px;
}

.search_dashboard{
  margin: auto;
  display: block;
}

.search_form {
  display: inline-block;
  height: 50px;
  width: 100%;
  margin: auto;
}

.button {
  display: inline-block;
  background-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
form {
  display: inline-block;
}
/* top right bottom left*/
.buttonFlat {
  text-transform: uppercase;
  display: inline-block;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 3px;
  padding: 0 8px 0 8px;
  margin: 6px 4px 6px 4px;
  border: none;
}
.loading-image {
  display: none;
}
input{
  &:focus {
    outline: none;
  }
}
input#add-query{
  display: inline-block;
}

input#add-submit{
  display: inline-block;
  transition: background-color 0.3s ease;
  height: 36px;
  background: #672E45;
  color: white;
  cursor: pointer;
  width: 75px;
}

input#delete-submit{
  display: inline-block;
  transition: background-color 0.3s ease;
  height: 36px;
  background: #672E45;
  color: white;
  cursor: pointer;
  width: 75px;
}

input[name="submit-search"] {
  //border-radius: 10px;
  display: inline-block;
  transition: background-color 0.3s ease;
  height: 36px;
  background: #672E45;
  color: white;
  cursor: pointer;
  width: 75px;
}
