$page: #1F3A43;
$color1: #d34836;
$color2: #009688;
$color3: #FFA000;
$color4: #5677fc;


$baseFontSize:          18px;
$baseFontFamily:        'Montserrat', sans-serif;
$baseLineHeight:        2.35;
$baseTextColor:         rgba(255, 255, 255, 0.85);
$baseHeadlineColor:     rgba(255, 255, 255, 0.9);
