$page: #1F3A43;
$yellow: #F1E6B2;
$ferrous: #DC4405;
$valentine: #BA0C2F;
$poy: #672E45;
$green: #719E8B;
//$page: #31323A;
$table-border: #F8F4D7;
$chart-border: #E98977;
$peach: #F2B4A8;
$chart1: #995667;
$chart2: #BD738A;
$chart3: #D6A9B0;
$chart4: #EDCCD3;
$chart5: #BAA397;
$chart6: #C7A18E;
$columns: 4;
$colors: $chart1, $chart2, $chart3, $chart4, $chart5, $chart6, $chart1, $chart2, $chart3, $chart4, $chart5, $chart6;
