%nav#nav
  %ul
    %li#name
      = @user.name
    %li#user
      %a{href: "user"} User
    %li#logout
      = link_to "log out", method: "DELETE"
      -# %a{href: "logout"} Logout
  %section#section1
