%nav#nav
  %ul
    %li
      %a{:href => "#section1"} Section 1
    %li
      %a{:href => "#section2"} Section 2
    %li
      %a{:href => "#section3"} Section 3
    %li
      %a{:href => "#section4"} Section 4
  %section#section1
